@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 border-bottom shadow-sm">
            <span class="text-muted me-2">Sistema Escolar v1.0</span>
            <a href="https://github.com/madelinpaulino" target="_blank" class="ms-3 text-decoration-none">Soporte</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>